{#
/**
 * @file
 * Contains the default template for the addthis.com inline share code
 *
 * Available variables:
 * - inline_toolbox_code: If multiple inline profile settings on addthis.com,
 *                        this code gets appended. Find this code on the "Tools"
 *                        page of this profile.
 *
#}
<!-- Go to www.addthis.com/dashboard to customize your tools -->
<div class="addthis_inline_share_toolbox"></div>
